  <!--  
<ion-content class="ion-padding">
  <ion-button (click)="startDetection()">Iniciar Detección</ion-button>
  
  <video class="video" #video autoplay playsinline></video>

  <h2 *ngIf="result">{{ result }}</h2>
</ion-content>
-->

<!-- src/app/home/home.page.html -->


<ion-content>
  <ion-button expand="block" (click)="capturarFoto()">📸 Tomar Foto</ion-button>

  <div class="foto-container" *ngIf="imageSrc">
    <img [src]="imageSrc" />
  </div>

  <ion-text color="primary">
    <h2 style="text-align: center;">{{ prediction }}</h2>
  </ion-text>
</ion-content>
